.gen-risks-selectBox {
  position: relative;
}

.gen-risks-selectBox select {
  width: 100%;
  font-weight: bold;
}

.gen-risks-overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#gen-risks-checkboxes {
  display: none;
  border: 1px #dadada solid;
  width: 100%;
}

#gen-risks-checkboxes label {
  display: block;
}

#gen-risks-checkboxes label:hover {
  background-color: #1e90ff;
}