.gen-risks-selectBox {
  position: relative;
}

.gen-risks-selectBox select {
  width: 100%;
  font-weight: bold;
  color: #16325C;
}

.gen-risks-overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#gen-risks-checkboxes {
  width: 100%;
	background-color: white;
	display: none;
	border: 1px #dadada solid;
	z-index: 10000;
	border-radius:4px;
	padding:0 0 7px 0;
	margin:0;
}

#gen-risks-checkboxes label {
  display: block;
}

#gen-risks-checkboxes label:hover {
  background-color: #1e90ff;
}