h1.pagename {
    font-family: Open sans;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #374963;
    line-height: 10px;
}

h2.pagename {
    font-family: Open sans;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #16325C;
    margin-top: 43.47px;
}

.services-menu {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 60px;
}

.accordion {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

.acc-active > p > .accordions-right::after {
    content: "";
    background: url(../images/icons/new_arrow_reversed.png) no-repeat;
    background-size: contain;
    margin-top: 5px;
    margin-left: 10px;
    width: 18px;
    height: 12px;
    float: right;
}

.panel {
    width: 100%;
    padding-top: 1px;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    transition: max-height 0.2s ease-out;
    /*display: none;*/
    overflow: hidden;
    max-height: 0;
}

.accordions-left {
    font-family: Open sans;
    font-size: 15px;
    font-weight: 600;
    margin-top: 27px;
    margin-left: 28px;
    float: left;
    color: #16325C;
}

.accordions-right {
    font-family: Open sans;
    font-size: 13px;
    margin-top: 33px;
    margin-right: 19px;
    float: right;
    color: #16325C;
}

.accordions-right::after {
    content: "";
    background: url(../images/icons/new_arrow.png) no-repeat;
    background-size: contain;
    margin-top: 5px;
    margin-left: 10px;
    width: 18px;
    height: 12px;
    float: right;
}

.service-content {
    margin: 5px 42px 40px 42px;
    font-family: Open sans;
}

.service-content > h1, form > h1 {
    font-size: 15px;
    font-weight: 600;
    color: #16325C;
}

.service-content > p {
    font-size: 13px;
    color: #16325C;
    line-height: 22px;
}

.text-bold {
    font-weight: 700;
}

.text-green {
    color: #29a329;
}

h1.service-title {
    font-size: 21px;
    font-weight: 400;
    color: #374963;
    text-align: center;
    margin-bottom: 20px;
}

h2.service-title {
    font-size: 13px;
    font-weight: 400;
    color: #16325C;
    text-align: center;
    margin-bottom: 30px;
}

.img-center {
    display: block;
    margin: 0px auto;
    max-width:100%;
    max-height:100%;
}

.button-center {
    margin: 30px auto;
}

#weight > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-mass.png');
    margin-right: 10px;
}

.weight-form-column {
    display: inline-block;
    margin: 20px;
}

.weight-form-column > p {
    font-size: 13px;
    margin: 0%;
    color: #54698D;
}

.weight-form-column > h1 {
    font-size: 13px;
    font-weight: 700;
    color: #16325C;
    text-align: center;
}

.weight-form-column > input {
    margin-top: 3px;
}

.weight-form-column > img {
    width: 15px;
    height: 25px;
}

.contact {
    margin: 30px auto;
}

.contact-column-left {
    display: inline-block;
    vertical-align:top;
}

.only-button {
    position: relative;
    bottom: 50px;
}

.contact-column-left > .container-radio {
    display: inline-block;
    position: relative;
    padding-top: 2px;
    padding-left: 25px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 13px;
    color: #1F2F47;
}

.container-radio input {
    position: absolute;
    opacity: 0;
}

.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: solid;
    border-radius: 50%;
    border-color: #D8DDE6;
    border-width: thin;
}

.container-radio:hover input ~ .checkmark-radio {
    background-color: #ccc;
}

.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked ~ .checkmark-radio:after {
    display: block;
}
  
.container-radio .checkmark-radio:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00B0D2;
}

.immunity-analyses {
    margin-top: 30px;
    margin-left: 20px;
}

.immunity-analyses h1 {
    font-size: 15px;
    font-weight: 400;
    color: #16325C;
}

.info-right {
    position: relative;
    float: right;
    font-size: 12px;
    color: #00B0D2;
    height: 100%;
}

.info-right a {
    text-decoration: none;
    height: 100%;
}

.info-right a:visited {
    color: #00B0D2;
}

.info-right a::before {
    content: "";
    background: url("../images/icons/symbols-icon-question.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 73px;
}

.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    line-height: 15px;
    color: #16325C;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #FFFFFF;
    border: solid #D8DDE6 1px;
    border-radius: 2px;
  }
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid #00B0D2;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 

.contact-column-right {
    display: inline-block;
    margin-left: 90px;
    width: 580px;
    font-size: 13px;
    line-height: 22px;
}

.fa-info-circle {
    color: #A8B7C7;
    font-size: 17px !important;
}

.fa-check {
    margin-right: 14px;
    color: #00B0D2;
}

button {
	display: block;
	margin-top: 20px;
	width: 108px;
	height: 32px;
    background-color: #00B0D2;
	border: 0;
	border-radius: 5px;
	color: #FFFFFF;
}

#food > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-food.png');
    margin-right: 10px;
}

#smoking > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-smoke.png');
    margin-right: 10px;
}

#personal-manager > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-personal-manager.png');
    margin-right: 10px;
}

#screening > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-notification.png');
    margin-right: 10px;
}

#immunity > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-immunitet.png');
    margin-right: 10px;
}

#analyzes > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-analise.png');
    margin-right: 10px;
}

#home-checkup > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-home.png');
    margin-right: 10px;
}

#healthy-heart > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-heart.png');
    margin-right: 10px;
}

#expecting > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-wait-baby.png');
    margin-right: 10px;
}

#be-mom > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-want-mam.png');
    margin-right: 10px;
}

#be-dad > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-pap.png');
    margin-right: 10px;
}

