.hidden {
    display: none;
}

h1.pagename {
    font-family: Open sans;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #374963;
    line-height: 10px;
}

h2.pagename {
    font-family: Open sans;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #16325C;
    margin-top: 43.47px;
}

.services-menu {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 60px;
}

.accordion {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

.acc-active > p > .accordions-right::after {
    content: "";
    background: url(../images/icons/new_arrow_reversed.png) no-repeat;
    background-size: contain;
    margin-top: 5px;
    margin-left: 10px;
    width: 18px;
    height: 12px;
    float: right;
}

.panel {
    width: 100%;
    padding-top: 1px;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    transition: max-height 0.2s ease-out;
    /*display: none;*/
    overflow: hidden;
    max-height: 0;
}

.accordions-left {
    font-family: Open sans;
    font-size: 15px;
    font-weight: 600;
    margin-top: 27px;
    margin-left: 28px;
    float: left;
    color: #16325C;
}

.accordions-right {
    font-family: Open sans;
    font-size: 13px;
    margin-top: 33px;
    margin-right: 19px;
    float: right;
    color: #16325C;
}

.accordions-right::after {
    content: "";
    background: url(../images/icons/new_arrow.png) no-repeat;
    background-size: contain;
    margin-top: 5px;
    margin-left: 10px;
    width: 18px;
    height: 12px;
    float: right;
}

.service-content {
    margin: 5px 42px 40px 42px;
    font-family: Open sans;
}

.service-content > h1, form > h1 {
    font-size: 15px;
    font-weight: 600;
    color: #16325C;
}

.service-content p {
    font-size: 13px;
    color: #16325C;
    line-height: 22px;
}

.hr-indent {
    margin: 20px auto;
}

.text-bold {
    font-weight: 700;
}

.text-green {
    color: #29a329;
}

h1.service-title {
    font-size: 21px;
    font-weight: 400;
    color: #374963;
    text-align: center;
    margin-bottom: 20px;
}

h2.service-title {
    font-size: 13px;
    font-weight: 400;
    color: #16325C;
    text-align: center;
    margin-bottom: 30px;
}

.img-center {
    display: block;
    margin: 0px auto;
    max-width:100%;
    max-height:100%;
}

.img-inline {
    display: inline-block;
}

.inline {
    display: inline-block;
}

.neomed-logo {
    position: relative;
    width: 90px;
    height: 50px;
    left: 80px;
    top: 20px;
}

.checkup-list {
    vertical-align: top;
}

.img-checkup {
    margin-left: 150px;
    position: relative;
    top: 15px;
}

.button-center {
    margin: 30px auto;
}

#weight > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-mass.png');
    margin-right: 10px;
}

.weight-form-column {
    display: inline-block;
    margin: 20px;
}

.weight-form-column > p {
    font-size: 13px;
    margin: 0%;
    color: #54698D;
}

.weight-form-column > h1 {
    font-size: 13px;
    font-weight: 700;
    color: #16325C;
    text-align: center;
}

.weight-form-column > input {
    margin-top: 3px;
}

.weight-form-column > img {
    width: 15px;
    height: 25px;
}

.contact {
    margin: 30px auto;
}

.contact-column-left {
    display: inline-block;
    vertical-align:top;
}

.total {
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 13px;
    color: #16325C;
}

.total-number {
    display: inline-block;
    margin-left: 500px;
    text-align: right;
    font-weight: 700;
    font-size: 13px;
    color: #1F2F47;
}

.checkup-pre-price {
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
    font-size: 13px;
    color: #1F2F47;
}

.uzi-price {
    font-size: 12px;
    font-weight: 700;
    color: #16325C;
}

.uzi-stomach-additional {
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 11px;
    color: #16325C;
}

.uzi-stomach-additional > p {
    margin: 0px 1px;
}

.additional {
    margin-top: 40px;
}

#checkup-price {
    margin-left: 470px;
    margin-right: 10px;
}

#checkup-cashback {
    float: right;
    position: relative;
    bottom: 15px;
}

.service-analyses {
    margin-top: 30px;
    margin-left: 20px;
}

.service-analyses h1 {
    font-size: 15px;
    font-weight: 400;
    color: #16325C;
}

.analysis-price {
    display: inline;
    margin-right: 100px;
    font-weight: 700;
    color: #16325C;
}

.info-right {
    position: relative;
    float: right;
    font-size: 12px;
    color: #00B0D2;
    height: 100%;
}

.info-right a {
    height: 100%;
    cursor: pointer;
}

.questionmark {
    display: inline-block;
    content: "";
    background: url("../images/icons/symbols-icon-question.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 73px;
    cursor: pointer;
}

.tooltip-content {
    position: absolute;
    visibility: hidden;
    width: 250px;
    top: 120%;
    right: 50%;
    padding: 5px 5px;
    z-index: 1;
    background-color: #ffffff;
    border: solid #00B0D2 1px;
    border-radius: 5px;
    color: #16325C;
    text-align: center;
    font-size: 13px;
}

.questionmark:hover .tooltip-content {
    visibility: visible;
}

.contact-column-right {
    display: inline-block;
    margin-left: 90px;
    width: 580px;
    font-size: 13px;
    line-height: 22px;
}

.fa-info-circle {
    color: #A8B7C7;
    font-size: 17px !important;
}

.fa-check {
    margin-right: 14px;
    color: #00B0D2;
}

button {
	display: block;
	margin-top: 20px;
	width: 108px;
	height: 32px;
    background-color: #00B0D2;
	border: 0;
	border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-wider {
    width: 170px;
}

.order-info {
    font-size: 13px;
    text-align: center;
    color: #1F2F47;
}

.order.btn-info {
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    color: #00B0D2
}

.cardio-form {
    margin-bottom: 25px;
}

.heart-date-field {
    display: inline-block;
    width: 15%;
}

.heart-date-field > p {
    font-size: 13px;
    margin-bottom: 0px;
}

.heart-date-field > input {
    height: 32px;
}

.heart-file-field {
    display: inline-block;
    width: 450px;
    height: 36px;
    border: 1px dotted #A8B7C7;
}

.heart-file-field > p {
    text-align: center;
    margin-top: 6px;
    margin-bottom: auto;
}

.heart-btn-search {
    margin-left: 16px;
    width: 108px;
    height: 38px;
    border: 1px solid #CCDAE8;
    background-color: #FFFFFF;
    color: #15596B;
    cursor: pointer;
}

.heart-btn-send {
    margin-left: 16px;
    width: 108px;
    height: 38px;
}

.heart-order-btn {
    margin-left: 170px;
    position: relative;
    bottom: 10px;
}

.heart-info {
    width: 550px;
}

#food > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-food.png');
    margin-right: 10px;
}

#smoking > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-smoke.png');
    margin-right: 10px;
}

#personal-manager > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-personal-manager.png');
    margin-right: 10px;
}

#screening > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-notification.png');
    margin-right: 10px;
}

#immunity > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-immunitet.png');
    margin-right: 10px;
}

#analyzes > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-analise.png');
    margin-right: 10px;
}

#home-checkup > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-home.png');
    margin-right: 10px;
}

#healthy-heart > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-heart.png');
    margin-right: 10px;
}

#expecting > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-wait-baby.png');
    margin-right: 10px;
}

#be-mom > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-want-mam.png');
    margin-right: 10px;
}

#be-dad > p > span.accordions-left::before {
    content: url('../images/icons/symbols-icon-pap.png');
    margin-right: 10px;
}

