body {
	margin: 0 auto;
	background: #F0F3F7;
	font-family: Open Sans;
}

.header-menu {
	height:64.73px;
	min-width:1000px;
	background: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(46, 53, 54, 0.131963), 0px 2px 14px rgba(13, 42, 54, 0.08);
}

.responsive-navbar-menu {
	display: none;
}

.wrapper {
	position: relative;
	height:100%;
	width:900px; /*885*/
	margin-left:auto;
	margin-right:auto;
}

.menu-logo {
	width:134px;
	height:28px;
	background:url('../images/icons/logo-nav.PNG') no-repeat ;
	background-size:100%;
}

.menu-nav {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.menu-nav > a > p {
	margin:0px;
	position: relative;
}

.menu-links {
	display: flex;
	justify-content: space-between;
	width: 75%;
}

.menu-nav a, .responsive-navbar-menu a{
	border-bottom: 2px solid transparent;
	box-sizing: border-box;
	height:100%;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	text-decoration: none;
	color: rgba(22, 50, 92, 0.8);
	position: relative;
}

.menu-nav a:hover, .responsive-navbar-menu a:hover{
	font-weight: 700;
    border-bottom: 2px solid #00B0D2;
}

.responsive-icon {
	display: none;
	width: 30px;
	height: 30px;
	background: url("../images/icons/responsive-navbar.PNG") no-repeat;
	background-size: contain;
}

.responsive-navbar-menu a {
	box-shadow: 0px 2px 2px rgba(46, 53, 54, 0.118631);
	padding-left: 3%;
}

.responsive-navbar-menu {
	max-height: 0px;
	visibility: hidden;
	display: flex;
	position: relative;
	width: 100%;
	flex-direction: column;
	z-index: 1;
	background-color: white;
	/* transition: max-height 0.2s ease-out; */
}

.main {
	width:930px;
	margin-left:auto;
	margin-right:auto;
}

.recommendations-top {
	margin-top: 2%;
}

.main-rec-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3%;
	justify-content: space-around;
	width: 45%;
}

.rec-numb {
	display: inline-block;
	line-height: 26px;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	width: 30px;
	height: 30px;
	background-color: #00B0D2;
	border-radius: 15px;
}

.rec_numb_text {
	display: inline-block;
	color:#00B0D2;
}

.threeb {
	background-color: white;
	box-shadow: 0px 2px 2px rgba(46, 53, 54, 0.118631);
	border-radius: 3px;
	margin-top: 6px;
	padding: 0.1px;
}

.rec-wrapper {
	margin: 2% 3% 2% 3%;
}

.rec-text-container {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.rec-text-main {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	color: rgba(22, 50, 92, 0.8);
}

.rec-text {
	vertical-align: middle;
	font-size: 15px;
	color: rgba(22, 50, 92, 0.8);
}

.rec-text-additional {
	color: #6F949E;
	font-size: 13px;
}

.rec-container {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 94%;
	vertical-align: middle;
}

.rec-container.analyzes {
	vertical-align: top;
}

.rec-container.analyzes > .rec-text-container {
	width: 100%;
}

.rec-icon-container {
	display: inline-block;
	margin-right: 1%;
}

.rec-icon-default {
	width: 26px;
	height: 26px;
}

.module-content {
	display: inline-block;
	margin-top: 20px;
}

.user-data-wrapper {
	width: 90%;
	margin: 0px auto 25px auto;
}

.data-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -2%;
	margin-right: -2%;
}

.data-box {
	margin-left: 2%;
	margin-right: 2%;
	width: 25%;
}

.data-box.short {
	width: 12%;
}

.data-box.long {
	width: 65%;
}

.data-box > .input-title {
	font-size: 13px;
	color: #54698D;
	margin-top: 20px;
	margin-bottom: 5px;
}

.data-box > input[type="text"], .data-box > select {
	height: 32px;
	width: 100%;
	font-size: 15px;
	color: #16325C;
}

.save-btn {
	display: block;
    height: 36px;
    width: 200px;
    text-align: center;
    margin: 30px auto;
    background: #00B0D2;
    border-radius: 4px;
    color: white;
    font-family: inherit;
    font-size: 15px;
	border:0;
	cursor: pointer;
}

.data-category-title {
	margin-top: 10px;
	font-size: 15px;
	font-weight: 600;
	color: rgba(22, 50, 92, 0.8);
}

.time-link, .family-profile {
	width:100%;
	height:96px;
	margin-top:12px;
	position:relative;
}

.services {
	margin-top: 3%;
}

.services .title {
	width: 100%;
	font-size: 21px;
	color: #374963;
	text-align: center;
}

.services .global-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 12px;
	font-weight: 700;
	color: rgba(22, 50, 92, 0.8);
	margin-top: 2%;
}

.services-toggles {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.service-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 31.5%;
	min-height: 40px;
	padding: 2% 0.5% 2% 0.5%;
	font-size: 13px;
	color: #373A3C;
}

.service-box > div:first-child {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.services .global-toggle > label {
	margin-left: 3%;
}

.services .rec-icon-container {
	margin-left: 3%;
}

.instructions {
	margin-top:28px;
}

.icon-chain {
	background:url('../images/icons/Chain.PNG') no-repeat;
	width:28px;
	height:28px;
}

.icon-family {
	background:url('../images/icons/FamilyHeart.PNG') no-repeat;
	width:32px;
	height:27px;
}

.lifetime {
	line-height: 22px;
	font-size: 13px;
	text-align: center;
	color: rgba(22, 50, 92, 0.8);
	margin-top: 25px;
	margin-bottom: 15px;
}

.header-icon {
	display: inline-block;
	vertical-align: bottom;
	width: 20px;
	height: 20px;
}

.general-data-icon {
	background:url('../images/icons/general_inf_icon.PNG') no-repeat;
}

.health-icon {
	background:url('../images/icons/health_menu_icon.PNG') no-repeat;
}

.documents-icon {
	background:url('../images/icons/document_menu_icon.PNG') no-repeat;
}

.shop-icon {
	background:url('../images/icons/store_menu_icon.PNG') no-repeat;
}

.services-icon {
	background:url('../images/icons/services_menu_icon.PNG') no-repeat;
	width:15px;
}

.sign-out-icon {
	background:url('../images/icons/sign_out.PNG') no-repeat;
	width:15px;
}

.rec-icon-main {
	background: url('../images/icons/Openheart.PNG') no-repeat;
	display: inline-block;
	width:33px;
	height:25px;
}

.mass_index {
	position: relative;
	margin-top:24px;
}

.plus-life {
	border-radius: 3px;
	line-height: 24px;
	font-size: 15px;
	color: #00B0D2;
	text-align: center;
	margin-top: 1%;
}

.rec-button-container {
	align-self: center;
}

.rec-button {
	display: inline-block;
	width:178px;
	height:32px;
	line-height: 32px;
	background: #00B0D2;
	border-radius: 4px;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

.rec-button-white {
	display: inline-block;
	width: 200px;
	height: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #15596B;
	font-size: 15px;
	border: 1px #CCDAE8 solid;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
}

.rec-list {
	list-style-type: none;
}

.analyzes-list-container {
	width: 65%;
}

.analyzes-list-title {
	font-weight: bold;
	line-height: 16px;
	font-size: 12px;
	color: rgba(22, 50, 92, 0.8);
	margin-bottom: 10px;
}

ul.rec-list li {
	display: flex;
	justify-content: space-between;
	margin-top: 3%;
	font-size: 12px;
	color: rgba(22, 50, 92, 0.8);
	box-shadow: 0px 2px 2px 0px rgba(46, 53, 54, 0.118631);
}

.info-container {
	min-width: 85px;
	align-self: center;
	text-align: end;
}

.info-container > a {
	color: #00B0D2;
	text-decoration: none;
	cursor: pointer;
}

.plus_life_analyzes {
	background: #F7F8FA;
	border-radius: 3px;
	line-height: 24px;
	font-size: 15px;
	color: #00B0D2;
}

.rec_min, .checkup-list {
	display: inline-block;
	margin-top:8px;
}

.icon-mass-index {
	background:url('../images/icons/symbols-icon-mass26x26.PNG') no-repeat;
	width: 26px;
	height: 26px;
}

.icon-smoke {
	background:url('../images/icons/symbols-icon-smoke26x26.PNG') no-repeat;
	width: 26px;
	height: 26px;
}

.icon-analyzes {
	background:url('../images/icons/symbols-icon-analise23x34.PNG') no-repeat;
	width:23px;
	height:34px;
}

.icon-homebodycheck {
	background:url('../images/icons/symbols-icon-home28x28.PNG') no-repeat;
	width:28px;
	height:28px;
}

.icon-healthyfood {
	background:url('../images/icons/symbols-icon-food26x26.PNG') no-repeat;
	width: 26px;
	height: 26px;
}

.icon-tester {
	background:url('../images/icons/symbols-tester20x32.PNG') no-repeat;
	width:20px;
	height:32px;
}

.icon-healthyheart {
	background:url('../images/icons/symbols-icon-heart28x23.PNG') no-repeat;
	width:28px;
	height:23px;
}

.icon-personal-manager {
	background:url('../images/icons/symbols-icon-personal-manager23x27.PNG') no-repeat;
	width:23px;
	height:27px;
}

.icon-immunity {
	background:url('../images/icons/symbols-icon-immunitet.PNG') no-repeat;
	width: 26px;
	height: 26px;
}

.icon-expecting {
	background:url('../images/icons/symbols-icon-wait-baby.PNG') no-repeat;
	width:13px;
	height:21px;
}

.icon-be-mom {
	background:url('../images/icons/symbols-icon-want-mam.PNG') no-repeat;
	width:16px;
	height:22px;
}

.icon-be-dad {
	background:url('../images/icons/symbols-icon-pap.PNG') no-repeat;
	height:23px;
	width: 20px;
}

.result_analyzes a.help-reverse {
	line-height: 30px;
	font-size: 13px;
	color: #00B0D2;
	text-decoration: none;
	cursor: pointer;
}

#gen_risks {
    height: 32px;
    border: 1px solid #A8B7C7;
    box-sizing: border-box;
    border-radius: 3px;
}

.panel-content {
	margin: 5px 42px 40px 42px;
	font-family: Open Sans;
}

.cashback {
	font-size: 15px;
	color: #374963;
}

.cashback-container-top {
	display: flex;
	flex-direction: column;
}

.cashback-container-top > div {
	line-height: 30px;
}

.cashback-container-bottom {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 2%;
	margin-left: 2%;
}

.cashback-bottom-box {
	width: 33%;
	margin-bottom: 3%;
}

.cashback-box-wrapper {
	margin: 3% 5% 3% 5%;
	box-shadow: 0px 2px 2px rgba(46, 53, 54, 0.118631);
	padding: 3%;
}

.cashback-bottom-box input[type=text] {
	width: 70%;
	height: 32px;
	font-size: 20px;
	color: #374963;
	margin-top: 1.5%;
}

.cashback-bottom-box .container-radio {
	font-size: inherit;
	color: inherit;
}

.cashback-bottom-box img {
	align-self: flex-end;
}

.cashback-button-container {
	display: flex;
	justify-content: center;
}

.cashback-card-info {
	display: flex;
	width: 70%;
	justify-content: space-between;
}

.cashback-button {
	display: block;
	width: 140px;
	height: 32px;
	background: #00B0D2;
	border-radius: 4px;
	font-family: Open Sans;
	line-height: normal;
	font-size: 15px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

.reminders-title {
	color: #16325C;
	font-weight: 700;
	font-size: 13px;
	opacity: 0.7;
}

.reminders-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3%;
}

.reminders-box {
	width: 22%;
}

.reminders-box > p {
	color: #16325C;
	margin-bottom: 3%;
}

.reminders-box > select {
	width: 85%;
	height: 32px;
	font-size: 13px;
	color: #16325C;
}

.reminders-box > input {
	width: 85%;
	height: 26px;
	font-size: 13px;
	color: #16325C;
}

.save-rem-button {
	display: block;
	width:178px;
	height:32px;
	background: #00B0D2;
	border-radius: 4px;
	font-size: 15px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 25px;
	margin-bottom: 35px;
	cursor: pointer;
}

.table-reminders {
	width: 100%;
	margin-bottom: 20px;
	border-spacing: 3px;
}

.table-reminders tr {
	box-shadow: 0px 2px 2px rgba(46, 53, 54, 0.118631);
}

.table-reminders td {
	height: 60px;
	padding: 10px;
}

td.rem-type {
	font-weight: 700;
	font-size: 13px;
	color: #1F2F47;
}

td.rem-info {
	font-size: 13px;
	color: #16325C;
}

td.rem-name {
	font-size: 13px;
	color: #1F2F47;
}

.reminders-block-mobile {
	display: none;
}

.questionmark {
    display: inline-block;
    content: "";
    background: url("../images/icons/symbols-icon-question.PNG") no-repeat;
    background-size: contain;
    position: relative;
    width: 16px;
    height: 16px;
	cursor: pointer;
}

.tooltip-content {
    position: absolute;
    visibility: hidden;
    width: 250px;
    top: 120%;
    padding: 5px 5px;
    z-index: 1;
    background-color: #ffffff;
    border: solid #00B0D2 1px;
    border-radius: 5px;
    color: #16325C;
    text-align: center;
	font-size: 13px;
	line-height: 19px;
}

.questionmark:hover .tooltip-content {
    visibility: visible;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:20px;
	margin-bottom:56px;
}

.footer-box:first-child {
	align-self: center;
	display: flex;
	flex-direction: column;
}

.phone {
	font-size: 18px;
	font-weight: 700;
	color: #374963;
}

.OOO {
	font-size: 13px;
	color: #374963;
}

.social-links {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10%;
}

.social-links a {
	width: 24px;
	height: 24px;
}

.social-OK {
	background:url('../images/icons/Ok-socail.PNG') no-repeat;
}

.social-VK {
	background:url('../images/icons/Vk-socail.PNG') no-repeat;
}

.social-FB {
	background:url('../images/icons/Fb-socail.PNG') no-repeat;
}

.social-IG {
	background:url('../images/icons/Ig-socail.PNG') no-repeat;
}

.footer-title {
	font-size: 16px;
	font-weight: 600;
	color: #374963;
}

.footer-links {
	margin-top: 15px;
}

.footer-links a {
	display: block;
	line-height: 24px;
	font-size: 13px;
	color: #54698D;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.main {
		width: 95%;
	}
	
	.header-menu, .wrapper {
		width: 100%;
		height: 50px;
		min-width: auto;
	}

	.menu-nav {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.menu-links {
		display: none;
		padding-top: 50px;
		flex-direction: column;
		align-self: flex-start;
		z-index: 1;
		background-color: white;
		float: right;
	}

	.responsive-icon {
		display: inline-block;
	}

	.main-rec-container {
		width: 100%;
	}

	.rec-container {
		width: 85%;
	}

	.rec-text-container {
		width: 100%;
	}

	.rec-text {
		font-size: 13px;
	}

	.rec-button {
		width: 100px;
	}

	.rec-button-container, .plus-life {
		margin-top: 3%;
	}

	.tooltip-content {
		width: 200px;
	}

	.analyzes-list-container {
		width: 100%;
	}

	.rec-container.analyzes > .rec-button {
		margin: 0px auto 10px auto;
	}

	.rec-list {
		padding-left: 0px;
	}

	.data-box {
		width: 40%;
	}
	
	.data-box.short {
		width: 40%;
		align-self: flex-end;
	}

	.data-box.long {
		width: 100%;
	}

	.cashback-bottom-box {
		width: 100%;
	}

	.reminders-box {
		width: 50%;
	}

	.table-reminders {
		display: none;
	}

	.reminders-block-mobile {
		display: flex;
	}

	.table-rem-mobile {
		width: 100%;
	}

	.rem-line {
		display: flex;
		min-height: 35px;
		box-shadow: 0px 1px 6px rgba(46, 53, 54, 0.131963);
	}

	.rem-line > div:first-child {
		display: flex;
		align-items: center;
		width: 40%;
		font-weight: 700;
		font-size: 13px;
		color: #1F2F47;
		box-shadow: 1px 0px 6px rgba(46, 53, 54, 0.131963);
	}

	.rem-line > div:last-child {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70%;
		text-align: center;
		font-size: 13px;
		color: #16325C;
	}

	.service-box {
		width: 95%;
	}

	.footer {
		flex-direction: column-reverse;
		margin-bottom: auto;
	}

	.footer-box {
		text-align: center;
		margin-bottom: 25px;
	}
}